.listAnime {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-left: 30px;
  margin-right: 30px;
}

.listAnime__anime {
  border: #fff 1px solid;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.listAnime__anime h3 {
  text-align: center;
}

.listAnime__anime img {
  width: 100%;
}

.buttonsAnime {
  display: flex;
  justify-content: center;
  align-self: center;
}

.buttonsAnime button {
  display: block;
  border-radius: 2px;
  border: none;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  width: 30%;
  height: 40px;
  margin: 1rem;
  font-size: 1.8rem;
  cursor: pointer;
}
